*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
  color: rgb(75, 73, 73);
}
.boton{
  border-radius: 5px;
  background-color: rgb(116, 113, 113);
  border: 0;
  outline: 0;
  height: 35px;
  color: white;
}
.registro{
  margin: 2cm;
  display: flex;
}
.inputs{
  display: block;
  width: 50%;
  margin: 15px, auto;
  display: flex;
  flex-direction: column;
}
.inputs input{
  outline: 0;
  border: 0;
  line-height: 50px;
}
.contactos{
  height: 100vh;
  width: 70vw;
  margin: 720px;
}
.datos{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  
}